---

---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="ThePikachu's Portfolio" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://thepikachu.vercel.app" />
    <meta property="og:description" content="This a very minimal and straightforward Portfolio site made by The Great ThePikachu." />
    <meta property="og:image" content="https://external-preview.redd.it/KufK3-DNx8F4tmJ60X2xEljfQtVuY6WWBJnbGZeY-Co.jpg?width=1080&crop=smart&auto=webp&s=8a916573a9ddec007db8a210ca75d60d65064f83" />


	<title>PokeFolio</title>
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../../pikachu-image.png"> 
</head>
<body>
<style>
    *{
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    main{
        padding: 1vw 2vw;
    }



</style>
    <main>



        <h1>THE Pikachu</h1>
        <h3>A Programmer , Science Student , Anime Lover .</h3>
        <h3>I am currently enjoying Linux , golang and cpp.</h3>

        <br>
        <hr>

        <h1>Projects</h1>
        <ul>
            <li>I am Currently restarting my coding journey from a break ( approx 3 months ) , so i will only upload my new projects from now on here . you can see my previous work on my Github ( link Below )</li>
        </ul>


        <br>
        <h1>Contact</h1>
        <h2>
            Github :
            <a href="https://github.com/ThePikachuDev">ThePikachuDev</a>
        </h2>
        <h2>
            Twitter :
            <a href="https://x.com/ThePikachuDev">ThePikachuDev</a>
        </h2>
        <h2>
            Discord : 
            <a href="https://discordapp.com/users/1237395043669639233">thepikachudev</a>

        </h2>
        <br>

        <h1>Blogs</h1>
        <h2 class="blog-link">
            <span>1.</span>
            <a href="/blogs/firstBlog">My First Blog</a>
        </h2>

        <br>
        <h1>Books I Read ( self help )</h1>
        <ul>
            <li>Rich Dad Poor Dad</li>
            <li>How to influnce people and win friends</li>
            <li>Think and grow rich</li>
            <li>Zero To One</li>
        </ul>

        <h1>Things i am Planning to do </h1>
        <ul>
            <li>Tryout Arch Linux</li>
            <li>Buy a Manga so I can become addicted to Reading Books</li>
        </ul>
    </main>
</body>
</html>
